.upcoming-container,
.released-container {
    padding: 18rem 3.5rem;
    text-align: center;
    /* z-index: 0; */

    & h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 4rem;
        color: var(--accent-2);
    }

    & hr {
        width: 50%;
        color: var(--accent-2);
        height: 0.5rem;
        background-color: var(--accent-2);
        text-align: center;
        translate: 50%;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    & .event-container {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        flex-wrap: wrap;


        & .each-event {
            position: relative;
            width: 40rem;
            border: 1px solid yellow;
            border-left: 5px solid yellow;
            box-shadow: 0 0 30px yellow;
            box-shadow: rgba(255, 255, 0, 0.2) 0px 8px 24px;
            padding: 2rem 3rem;
            border-radius: 0 7px 7px 0;
            -webkit-border-radius: 0 7px 7px 0;
            -moz-border-radius: 0 7px 7px 0;
            -ms-border-radius: 0 7px 7px 0;
            -o-border-radius: 0 7px 7px 0;
            transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -moz-transition: all 0.3s ease-in;
            -ms-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;

            &:hover {
                transform: translateY(-3px);
                -webkit-transform: translateY(-3px);
                -moz-transform: translateY(-3px);
                -ms-transform: translateY(-3px);
                -o-transform: translateY(-3px);
            }

            & h3 {
                font-size: 3rem;
            }

            & p {
                font-size: 1.2rem;
                color: var(--accent-1);
            }

            & .event-info {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-start;
                /* justify-content: center; */
                padding: 1.5rem 0;
                gap: 1.2rem;
                text-align: left;
                font-size: 1.5rem;
                margin-left: 1.5rem;
                /* margin-bottom: 2rem; */

                & li {
                    list-style-type: square;
                    /* padding: -2rem; */
                }
            }

            & button {
                margin-top: 2rem;
                padding: 0.5rem;
                border-radius: 3px;
                border: 0.5px solid var(--accent-2);
                background-color: var(--accent-5);
                font-weight: 700;
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;



                &:hover {
                    background-color: var(--accent-2);
                    color: var(--accent-5);

                }
            }

        }
    }
}

.released-container {
    height: 100dvh;
}

.brochure-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999999;
    overflow: auto;
    /* extremely high */
}

.brochure-image {
    max-width: 90%;
    max-height: 90vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* .brochure-content {
    position: relative;
} */
/* 
.brochure-wrapper {
    position: relative;
} */

/* .close-btn { */
/* position: absolute;
    top: 20px;
    right: 30px; */

/* top: -40px;
    right: -40px; */

/* background: white;
    border: none;
    padding: 8px 14px;
    font-size: 18px;
    cursor: pointer;

    z-index: 10000;
} */

.popup-wrapper {
    position: relative;
    display: inline-block;
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 30px;
    background: white;
    border: none;
    padding: 8px 14px;
    font-size: 18px;
    cursor: pointer;
    z-index: 50000;
}

@media(max-width:729px) {

    .upcoming-container,
    .released-container {
        padding: 18rem 1.2rem;
        text-align: center;

        & .event-container {
            gap: 4rem;

        }
    }

    .each-event {
        padding: 0;
        width: 43rem;
    }
}